<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

    <div class="container my-col">
        <div class="row">
            {% extends 'nav.html' %}
            {% block content %}
            <div class="col-md-12">
                <p>
                <h4>請選擇地區</h4>
                </p>
                <form action="/address/result" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="city">縣市:</label>
                        {{ form.city(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="town">鄉鎮市區:</label>
                        {{ form.town(class="form-control") }}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-success btn-lg" value="查詢警報">
                </form>
            </div>
        </div>
    </div>

    <script>
        city_select = document.getElementById("city");
        town_select = document.getElementById("town");

        city_select.onchange = function () {
            city = city_select.value;
            fetch("/select/town/" + city).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = "";
                    for (town of data.town_city) {
                        optionHTML += '<option value="' + town[0] + '">' + town[1] + '</option>'
                    }
                    town_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>