<!DOCTYPE html>
<html>

{% include "header.html" %}

<body>
    <div class="container my-col">
        <div class="row">
            {% extends 'nav.html' %}
            {% block content %}
            <div class="col-md-12">
                <p>按下按鈕定位</p>
                {% if g.user %}
                <button class="btn my-btn" onclick="getLocation()">更新使用者所在位置</button>
                {% else %}
                <button class="btn my-btn" onclick="getLocation()">開始定位</button>
                <br>
                {% endif %}
                <div>
                    <p id="receive"></p>
                </div>
                <div class="form-group" id="send"></div>
            </div>
        </div>
    </div>




    <script>
        var x = document.getElementById("receive");
        var y = document.getElementById("send")

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendToServer);
                console.log(location);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        };
        function sendToServer(position) {
            //Obj of data to send in future like a dummyDb
            const data = { lat: position.coords.latitude, lon: position.coords.longitude };
            console.log(position.coords);
            //POST request with body equal on data in JSON format
            fetch('/location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                //Then with the data from the response in JSON...
                .then((redata) => {
                    console.log('Success:', redata);
                    let lat = data["lat"];
                    let lon = data["lon"];
                    let address = redata["address"]
                    x.innerHTML = "目前所在位置: " + address +
                        "<br>緯度: " + lat +
                        "<br>經度: " + lon
                    y.innerHTML = '<form action="/location/result" method="POST">' +
                        '<input type="hidden" name="lat" value="' + lat + '">' +
                        '<input type="hidden" name="lon" value="' + lon + '">' +
                        '<input type="hidden" name="address" value="' + address + '">' +
                        '<input class="btn my-btn" type="submit" name="send" value="查詢警報">' +
                        '</form>'
                })
                //Then with the error genereted...
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
    {% endblock %}
</body>

</html>