<!DOCTYPE html>
<nav>
    <h1>Water Alert</h1>
    <h3>水情警示器</h3>
    <ul>
        {% if g.user %}
        <li><span>Hi {{ g.user['usrname'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">登出</a>
            {% else %}
        <li><a href="{{ url_for('auth.register') }}">註冊</a>
        <li><a href="{{ url_for('auth.login') }}">登入</a>
            {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>