<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>Result Page</h1>
    <h2>目前位置:{{address}}</h2>
    <div>
        <h3>水位狀況</h3>
        <p>警戒:{{water_warn}}</p>
    </div>
    <br>
    <div>
        <h3>雨量狀況</h3>
        <p>警戒:{{rain_warn}}</p>
    </div>
    <br>
    <div>
        <h3>水庫狀況</h3>
        <p>目前狀態:{{reservoir_warn}}</p>
    </div>
    <input type="button" onclick="location.href='/'" value="Go to index">
</body>

</html>