<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
    <div class="container my-col">
        <div class="row">
            {% extends 'nav.html' %}
            {% block header %}
            <div class="col-md-12">
                <h3>{% block title %}登入{% endblock %}</h3>
                {% endblock %}
                {% block content %}
                <div class="form-group">
                    <form method="post">
                        <label for="email">Email</label>
                        <input name="email" id="email" required>
                        <label for="password">密碼</label>
                        <input type="password" name="password" id="password" required>
                        <input class="btn my-btn" type="submit" value="登入">
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>