<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% extends 'nav.html' %}
    {% block header %}
    <h3>{% block title %}登入{% endblock %}</h3>
    {% endblock %}
    {% block content %}
    <form method="post">
        <label for="email">Email</label>
        <input name="email" id="email" required>
        <label for="password">密碼</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="登入">
    </form>
    {% endblock %}
</body>

</html>